html {
  font-family: "Montserrat", sans-serif;
  color: #BFBFBF;
  font-weight: 400;
  background-color: #FDFDFD; }

body {
  font-size: 0.9rem; }

.clearfix {
  clear: both; }

.header-section {
  height: 85px;
  width: 100%;
  border: 2px solid #29B0F8; }

.header-section-ul {
  list-style: none;
  color: #29B0F8;
  font-size: 1.3rem;
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-top: 7px; }

.header-section-ul li {
  padding-right: 20px;
  display: inline-block; }

.header-info {
  display: inline-block;
  text-align: center;
  color: #404040;
  font-weight: 500;
  padding-top: 10px;
  vertical-align: top; }

.header-address {
  font-size: 0.9rem;
  margin: 0; }

.header-phone {
  font-size: 1.85rem;
  margin: 0;
  padding-top: 10px; }

.header-logo {
  display: inline-block;
  float: right;
  padding-right: 25px;
  padding-top: 2px; }

.header-logo-img {
  height: 80px; }

.welcome-section {
  height: 610px;
  width: 100%;
  background: green; }

.welcome-section p {
  margin: 0 auto; }

.welcome-head-text {
  text-align: center;
  width: 935px;
  margin: 0 auto;
  margin-top: 25px; }

.welcome-head-title {
  font-size: 3.5rem; }

.welcome-head-subhead {
  font-size: 1.3rem;
  padding-top: 25px;
  color: #29B0F8; }

.welcome-img-slide {
  width: 1200px;
  height: 435px;
  margin: 0 auto;
  text-align: center; }

.welcome-img-container {
  width: 800px;
  text-align: center;
  display: inline-block;
  vertical-align: top; }

.welcome-img-main {
  width: 750px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  background-image: url(img/welcome_img.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain;
  margin-bottom: 10px; }

.welcome-slide-nav {
  width: 935px;
  height: 30px;
  margin-top: 20px;
  border: 1px solid #29B0F8;
  margin: 0 auto; }

.welcome-slide-ul {
  list-style: none;
  margin: 0 auto;
  padding-top: 8px; }

.welcome-slide-ul li {
  display: inline-block;
  font-size: 0.9rem;
  padding-right: 8px;
  padding-left: 8px;
  border-right: 1px solid #BFBFBF; }

.welcome-slide-ul li:first-child {
  padding-left: 0px; }

.li-no-border {
  border: none !important; }

.welcome-left-arrow {
  height: 60px; }

.welcome-right-arrow {
  height: 60px; }

.welcome-slide-arrow-left {
  width: 199px;
  margin-top: 150px;
  float: left; }

.welcome-slide-arrow-right {
  float: right;
  width: 199px;
  margin-top: 150px; }

.who-help-heading {
  text-align: center;
  font-size: 3.5rem; }

.who-help-bar {
  width: 300px;
  height: 1px;
  background: #BFBFBF;
  margin: 0 auto;
  margin-top: -45px; }

.who-help-subhead {
  text-align: center;
  font-size: 1.3rem;
  color: #29B0F8;
  width: 650px;
  margin: 0 auto; }

.who-help-3 {
  width: 1200px;
  height: 600px;
  background: purple;
  margin: 0 auto; }

.who-help-cell-section {
  display: inline-block;
  width: 33.1%;
  height: 600px;
  background: orange;
  text-align: center; }

.who-help-cell {
  width: 75%;
  height: 500px;
  background: blue;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  border: 3px solid #29B0F8; }

.who-help-text {
  font-size: 1.85rem;
  color: #29B0F8; }

.home-video-sec {
  height: 300px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 176, 248, 0.9)), to(rgba(41, 176, 248, 0.9))), url(img/welcome_img.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain; }

.h-video-body {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
  color: #FDFDFD; }

.h-video-body p {
  font-size: 1.85rem;
  padding-top: 15px; }

.h-video-play {
  width: 70px; }

.home-services-section {
  width: 100%;
  height: 800px; }

.home-services-heading {
  text-align: center;
  margin-top: 50px; }

.home-services-main {
  font-size: 3.5rem;
  margin: 0 auto; }

.home-services-sub {
  font-size: 1.3rem;
  margin: 0 auto;
  padding-top: 15px;
  color: #404040; }

.our-services-bar {
  width: 100px;
  height: 1px;
  background: #BFBFBF;
  margin: 0 auto;
  margin-top: 10px; }

.home-services-container {
  width: 99%;
  margin: 0 auto;
  height: 800px; }

.home-services-nav-sec {
  display: inline-block;
  width: 40%;
  height: 700px;
  background: #FDFDFD; }

.home-services-nav {
  width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px; }

.h-service-nav-divs {
  width: 100%;
  height: 160px;
  color: #FDFDFD; }

.hs-nav-cell-left {
  background: #29B0F8;
  width: 49.2%;
  height: 98.5%;
  border-radius: 10px;
  border: 2px solid #FDFDFD; }

.hs-nav-cell-right {
  background: #29B0F8;
  float: right;
  width: 49.2%;
  height: 98.5%;
  border-radius: 10px;
  border: 2px solid #FDFDFD; }

.hs-cell-img {
  padding: 20px; }

.hs-cell-text {
  padding-left: 20px; }

.hs-cell-text p {
  margin: 0 auto; }

.hs-cell-img-style {
  width: 70px; }

.home-services-icon-sec {
  float: right;
  width: 20%;
  height: 700px; }

.home-services-info-sec {
  float: right;
  width: 40%;
  height: 700px; }

.hs-middle-icon {
  width: 100px;
  margin: 0 auto;
  margin-top: 250px; }

.hs-middle-img {
  width: 100px; }

.hs-services-info-container {
  width: 450px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px; }

.hs-services-info-heading {
  font-size: 1.85rem;
  text-align: center; }

.hs-services-info-heading p {
  margin: 0 auto;
  padding-bottom: 10px;
  color: #29B0F8; }

.hs-services-info-bar {
  width: 300px;
  height: 1px;
  background-color: #BFBFBF;
  margin: 0 auto; }

.hs-services-info-body {
  margin: 0 auto;
  width: 85%;
  text-align: center;
  line-height: 23px;
  padding-top: 10px; }

.hs-services-info-cta {
  text-align: center;
  font-weight: 500;
  color: #404040;
  margin-top: 50px;
  font-size: 1.3rem; }

.hs-services-info-cta-box {
  margin: 0 auto;
  margin-top: 60px;
  width: 175px;
  height: 45px;
  border-radius: 35px;
  text-align: center;
  background: #29B0F8;
  vertical-align: middle;
  line-height: 45px; }

.hs-services-info-cta-box p {
  margin: 0 auto;
  text-align: center;
  color: #FDFDFD; }

.home-process-container {
  width: 1200px;
  margin: 0 auto;
  background: yellow;
  height: 900px; }

.home-process-left-sec {
  width: 46%;
  height: 800px;
  float: left; }

.home-process-mid-sec {
  background: green;
  width: 8%;
  height: 800px;
  float: right; }

.home-process-right-sec {
  width: 46%;
  height: 800px;
  float: right; }

.home-process-left-cell {
  height: 150px;
  width: 100%; }

.home-process-right-cell {
  height: 150px;
  width: 100%; }

.home-process-mid-bar {
  width: 10px;
  height: 725px;
  background: #29B0F8;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center; }

.hp-mid-number {
  padding-bottom: 50px;
  padding-top: 45px;
  margin-left: -25px;
  width: 60px; }

.hp-mid-number-img {
  width: 50px; }

.hp-lc-content {
  width: 500px;
  height: 150px;
  margin: 0 auto;
  margin-top: 5px; }

.hp-left-cell-text {
  float: left;
  width: 75%; }

.hp-right-cell-text {
  float: right;
  width: 75%; }

.hp-rc-th-div {
  float: left;
  text-align: center; }

.hp-lc-th-div {
  float: right;
  text-align: center; }

.hp-lc-text-head {
  height: 40px;
  color: #29B0F8; }

.hp-lc-th-div p {
  margin: 0 auto;
  font-size: 1.3rem;
  padding-bottom: 5px; }

.hp-rc-th-div p {
  margin: 0 auto;
  font-size: 1.3rem;
  padding-bottom: 5px; }

.hp-lc-th-bar {
  width: 75px;
  background: #BFBFBF;
  height: 1px;
  margin: 0 auto; }

.hp-lc-text-body p {
  margin: 0 auto; }

.hp-lc-icon {
  float: right;
  padding-top: 25px; }

.hp-rc-icon {
  float: left;
  padding-top: 25px; }

.who-we-help-sec2 {
  height: 600px; }

.who-help2-bar {
  width: 300px;
  background: #BFBFBF;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px; }

.wwh-2-subhead {
  width: 700px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  color: #404040;
  font-size: 1.3rem; }

.wwh-2-3sec {
  width: 1100px;
  margin: 0 auto;
  background: purple;
  height: 385px;
  margin-top: 40px; }

.wwh-2-cell {
  height: 75%; }

.wwh-2-cell-img-div {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: orange;
  border: 2px solid #29B0F8;
  border-radius: 15px; }

.wwh-2-cell-text {
  text-align: center;
  font-size: 1.85rem;
  color: #29B0F8; }

.recent-blog-posts-section {
  background: #29B0F8;
  padding-bottom: 35px; }

.recent-blogs-heading {
  text-align: center;
  color: #FDFDFD;
  width: 900px;
  margin: 0 auto; }

.recent-blogs-head-text {
  font-size: 3.5rem;
  padding-top: 35px; }

.recent-blogs-head-text p {
  margin: 0 auto; }

.recent-blogs-subhead-text {
  font-size: 1.3rem; }

.recent-blogs-subhead-text p {
  line-height: 25px; }

.recent-blogs-container {
  background: purple;
  width: 1050px;
  height: 700px;
  margin: 0 auto; }

.r-blogs-c-top {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px; }

.h-blog-cell {
  height: 300px;
  text-align: center; }

.h-blog-cell-img {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid blue; }

.r-blogs-c-bottom {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px; }

.home-view-all-blogs {
  margin-top: 50px;
  text-align: center;
  color: #FDFDFD; }

.home-view-all-blogs p {
  font-size: 1.3rem; }

.home-contact-heading {
  text-align: center;
  margin: 0 auto; }

.home-contact-heading p {
  font-size: 3.5rem;
  margin: 0 auto; }

.home-contact-heading-bar {
  width: 150px;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px; }

.home-contact-heading {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 35px; }

.home-contact-heading p {
  font-size: 3.5rem;
  margin: 0 auto;
  padding-top: 50px; }

.home-contact-heading-bar {
  width: 150px;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px;
  background: #BFBFBF; }

.contact-section-main {
  height: 750px;
  width: 100%;
  padding-bottom: 25px; }

.contact-section-boxes {
  width: 1100px;
  height: 550px;
  margin: 0 auto; }

.contact-left {
  height: 550px;
  padding-left: 3px;
  text-align: center; }

.contact-head {
  color: #29B0F8;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 auto; }

.contact-right {
  height: 550px;
  text-align: center; }

.contact-form-section {
  width: 400px;
  height: 480px;
  margin: 0 auto;
  margin-top: 25px; }

.contact-name,
.contact-email,
.contact-subject {
  width: 400px;
  padding-top: 10px; }

.contact-name input,
.contact-email input,
.contact-subject input {
  border: 1px solid #29B0F8;
  height: 40px;
  width: 375px;
  padding-left: 10px; }

.contact-message {
  width: 400px;
  padding-top: 10px; }

.contact-message textarea {
  border: 1px solid #29B0F8;
  height: 200px;
  width: 375px;
  padding-left: 10px;
  padding-top: 10px; }

.contact-right-body {
  width: 400px;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 50px; }

.inquiry-btn {
  width: 235px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  background: #29B0F8;
  color: #FDFDFD;
  border-radius: 35px; }

.inquiry-btn p {
  font-size: 1.3rem;
  margin: 0 auto;
  line-height: 50px; }

.contact-submit-btn input {
  width: 235px;
  height: 50px;
  margin: 0 auto;
  border-radius: 35px;
  background: #29B0F8;
  color: #FDFDFD;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 300;
  border: none; }

.contact-right-container {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px; }

.question-contact-bar {
  width: 100%;
  height: 100px;
  background: #29B0F8;
  line-height: 100px; }

.question-contact-bar-text {
  text-align: center;
  color: #FDFDFD; }

.question-contact-bar-text p {
  font-size: 3rem; }

.footer {
  height: 350px;
  background: white; }

.footer-nav {
  color: black; }

.footer-list {
  list-style: none;
  font-size: 1.3rem;
  margin: 0 auto;
  padding-top: 15px; }

.footer-list li {
  padding-top: 20px; }

.footer-middle {
  color: #29B0F8; }

.footer-mid-block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px; }

.footer-mid-logo {
  width: 200px; }

.footer-right {
  color: black;
  float: right;
  padding-top: 50px; }

.footer-right-icons {
  text-align: center;
  margin: 0 auto;
  width: 355px;
  padding-top: 35px; }

.footer-right-icons-section {
  width: 350px;
  margin: 0 auto; }

.footer-icon-img {
  width: 60px;
  padding-left: 50px; }

.fim-1 {
  padding-left: 15px !important; }

.footer-right-text {
  width: 400px;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 auto; }

.services-header-section {
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/services_bg_main.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain; }

.services-bg-left {
  float: left;
  height: 400px;
  width: 50%; }

.services-bg-right {
  float: right;
  height: 400px;
  width: 50%; }

.services-bg-left-text {
  width: 600px;
  height: 300px;
  margin-left: 50px;
  margin-top: 35px; }

.services-bg-heading {
  font-size: 3.5rem;
  color: #29B0F8;
  margin: 0 auto;
  padding-top: 20px; }

.services-bg-subhead {
  font-size: 1.3rem;
  color: #FDFDFD;
  width: 375px; }

.services-bg-main {
  line-height: 20px;
  color: #FDFDFD;
  padding-top: 15px;
  width: 375px; }

.services-bg-vid-sec {
  text-align: center;
  width: 550px;
  margin: 0 auto; }

.services-head-vid {
  margin-top: 35px; }

.services-bg-vid-sec p {
  font-size: 1.3rem;
  line-height: 28px;
  color: #29B0F8; }

.services-our-services-sec {
  height: 3500px;
  background: blue;
  width: 100%; }

.our-services-heading {
  text-align: center; }

.osh-title {
  font-size: 3.5rem;
  margin: 0 auto;
  margin-top: 50px; }

.osh-subhead {
  font-size: 1.3rem;
  margin: 0 auto;
  padding-top: 25px; }

.services-main-container {
  height: 3000px;
  width: 1200px;
  margin: 0 auto;
  background: pink; }

.services-service {
  width: 1100px;
  height: 500px;
  background: red;
  margin: 0 auto; }

.ss-child1 {
  margin-top: 50px; }

.services-s-left {
  width: 550px;
  height: 500px;
  background: teal;
  float: left; }

.services-s-right {
  width: 550px;
  height: 500px;
  background: grey;
  float: right; }

.services-left-image {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  border-radius: 250px;
  border: orange solid 3px;
  background: yellow; }

.services-left-image img {
  width: 300px;
  height: 300px;
  margin-top: 90px; }

.services-right-text {
  width: 475px;
  height: 400px;
  background: brown;
  margin-left: 50px;
  margin-top: 75px; }

.services-left-text {
  width: 475px;
  height: 400px;
  background: brown;
  text-align: right;
  margin-left: 25px;
  margin-top: 75px; }

.services-right-heading p {
  font-size: 1.85rem;
  margin: 0 auto;
  color: #29B0F8; }

.services-rt-bar-right {
  width: 200px;
  height: 1px;
  background: #BFBFBF;
  margin-top: 5px; }

.services-rt-bar-left {
  width: 200px;
  height: 1px;
  background: #BFBFBF;
  margin-top: 5px;
  float: right; }

.services-right-subhead p {
  font-size: 1.3rem;
  color: #404040; }

.services-right-body-text {
  width: 385px;
  line-height: 23px; }

.services-left-body-text {
  width: 385px;
  line-height: 23px;
  float: right; }

.services-left-body-text p {
  margin: 0 auto; }

.have-question-section {
  width: 100%;
  height: 350px;
  background: #29B0F8;
  color: #FDFDFD; }

.have-question-text {
  text-align: center;
  padding-top: 50px; }

.have-question-text p {
  margin: 0 auto; }

.hq-text-head {
  font-size: 3.5rem; }

.hq-text-subhead {
  font-size: 1.85rem;
  padding-top: 30px; }

.have-question-contact-btn {
  margin-top: 50px;
  width: 235px;
  height: 50px;
  border-radius: 35px;
  background: #FDFDFD;
  margin: 0 auto;
  margin-top: 50px;
  color: black;
  border: 1px solid #BFBFBF; }

.have-question-contact-btn p {
  line-height: 50px;
  font-size: 1.3rem; }

.service-top-split {
  width: 100%;
  margin: 0 auto;
  background: purple;
  height: 80vh; }

.service-ts-left {
  width: 50%;
  float: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 176, 248, 0.9)), to(rgba(41, 176, 248, 0.9))), url(img/social-service-top-img.png);
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 100%;
  text-align: center;
  color: #FDFDFD; }

.service-ts-left p {
  font-size: 3.5rem;
  width: 400px;
  line-height: 100px;
  margin: 0 auto;
  margin-top: 100px; }

.service-ts-right {
  width: 50%;
  height: 100%;
  float: right; }

.service-ts-right-text {
  width: 575px;
  margin-left: 35px;
  margin-top: 50px; }

.service-tsr-text-heading p {
  font-size: 3.5rem;
  margin: 0 auto; }

.service-tsr-text-bar {
  width: 300px;
  height: 1px;
  background: #BFBFBF;
  margin-top: 10px; }

.service-tsr-text-body {
  margin-top: 35px;
  width: 475px; }

.service-tsr-text-body p {
  line-height: 20px; }

.service-benefits-body-section {
  width: 1100px;
  height: 700px;
  margin: 0 auto;
  background: blue;
  margin-top: 50px; }

.service-benefits-body-left {
  width: 45%;
  height: 700px;
  background: green;
  float: left; }

.service-benefits-body-right {
  width: 55%;
  height: 700px;
  background: orange;
  float: right; }

.sb-body-right-text {
  width: 400px;
  margin-left: 50px;
  margin-top: 100px;
  background: pink; }

.sb-body-right-heading p {
  color: #29B0F8;
  font-size: 1.85rem;
  margin: 0 auto; }

.sb-body-right-bar {
  width: 275px;
  height: 1px;
  margin-top: 10px;
  background: #404040;
  margin-bottom: 15px; }

.sb-body-right-body {
  line-height: 20px; }

.sb-body-bottom-nav {
  margin-left: 50px;
  margin-top: 25px;
  width: 85px;
  height: 50px;
  background: black; }

.sb-body-nav-back {
  height: 36px;
  width: 36px;
  background: red;
  float: left;
  text-align: center; }

.sb-body-nav-back img {
  height: 30px;
  padding-top: 3px; }

.sb-body-nav-forward img {
  height: 30px;
  padding-top: 3px; }

.sb-body-nav-forward {
  float: right;
  height: 36px;
  width: 36px;
  background: pink;
  text-align: center; }

.sb-bottom-cta {
  margin-top: 50px; }

.sb-bottom-cta-text {
  color: #404040;
  margin-left: 50px; }

.sb-bottom-cta-text p {
  font-size: 1.3rem; }

.sb-bottom-cta-button {
  width: 175px;
  height: 38px;
  border-radius: 25px;
  background: #29B0F8;
  text-align: center;
  color: #FDFDFD;
  line-height: 38px;
  margin-left: 50px; }

.sb-bottom-cta-button p {
  font-size: 1.3rem; }

.other-services-section {
  height: 500px;
  width: 100%;
  background: teal; }

.other-services-heading {
  font-size: 3.5rem;
  text-align: center; }

.other-services-heading p {
  margin: 0 auto; }

.other-services-cells {
  margin-top: 250px;
  width: 100%;
  background: #29B0F8;
  height: 185px; }

.other-services-cell {
  float: right;
  width: 14.12%;
  border-right: 2px solid #FDFDFD;
  text-align: center;
  height: 100%;
  background: #29B0F8; }

.other-services-cell-img {
  margin-top: 25px; }

.other-services-cell-img img {
  max-width: 90px;
  max-height: 90px; }

.other-services-cell-text {
  color: #FDFDFD;
  padding-top: 10px; }

.service-recent-blogs-section {
  height: 635px;
  width: 100%;
  background: yellow; }

.srb-heading {
  color: #29B0F8;
  text-align: center;
  font-size: 1.85rem;
  padding-top: 50px; }

.srb-heading p {
  margin: 0 auto; }

.srb-blog-cells-section {
  width: 1100px;
  background: blue;
  height: 400px;
  margin: 0 auto;
  margin-top: 35px; }

.srb-blog-cell {
  height: 350px;
  width: 250px;
  margin-right: 26px;
  margin-top: 25px;
  border: 1px solid red;
  display: inline-block; }

.srb-view-all {
  text-align: center;
  margin-top: 50px;
  font-size: 1.3rem; }

/*# sourceMappingURL=styles.css.map */
